html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

@font-face {
  font-family: akbar;
  src: url(../font/akbar.ttf);
}

#game-intro {
  padding: 170px 300px;
  background-image: url("../images/Clouds.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#game-intro p {
  margin: 20px 0px;
  font-size: 24px;
  font-family: akbar; 
}

.logo-img {
  width: 800px;
  justify-items: center;
}

#start-img {
  width:326px;
  height: 64.67px;
}

#scoring{
  visibility: hidden;
  font-family: akbar;
  font-size: x-large;
  color: #FFF949;
}

#game-screen {
  display: none;
  overflow: hidden;  
  position: center;
  background-image: url("../images/Kitchen.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
}

#game-end {
  display: none;
  padding: 170px 300px;
  background-image: url("../images/Clouds.jpg");
  background-size: cover;
  font-size: 58px;
  font-family: akbar;
}

.arrows-img {
  width: 150px;
}

body button {
  background-color: #c80813ff;
  padding: 10px;
  border: 0;
  box-shadow: 0;
  border-radius: 15px;
  margin-bottom: 20px;
}

#restart-img{
  width: 200px;
  height: 64.67px;
} 

#game-over-img{
  width:675px;
}

.score-img{
  width:80px;
  padding-right: 5px;
}

.lives-img{
  width:80px;
}
